.done{
text-decoration: line-through;
}

.todo-container{
 
    width:50%;
}

.todo-list{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    width:50%;
    padding:1%;


}
.todo-list li{
    display:flex;
    justify-content: space-between;
    align-items: center;
    border:2px solid grey;
    margin:2%;
    PADDING:1%;
    outline:none;
 
}
.buttons button img{
    width:1.5rem;
    height:1.5rem;
 }
.buttons{
 
    width:35%;
    display:flex;
    justify-content: space-between;
    
}
   

